@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div region="center" style="padding: 10px; border: none;">
    <div>
        <div style="font-family: 'Arial Negreta', 'Arial'; font-style: normal; font-size: 14px; float: left;">
            工程编号：@ViewData["gcbh"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            工程名称：@ViewData["gcmc"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            施工单位：@ViewData["sgdwmc"]
        </div>
        <div style="float: right; padding-right: 15px;">
            <a href="@Url.Action("Gxxx", "Gxxx")/?gcbdid=@ViewData["gcxmid"]" class="easyui-linkbutton">管线列表管理</a>
            <a href="@Url.Action("Index", "Gxrjxx")/?gcxmid=@ViewData["gcxmid"]" class="easyui-linkbutton">人井管理</a>
        </div>
    </div>
    <div class="clearLineHeight">
        <hr style="border: 1px solid #bebebe; width: 100%;" />
    </div>
    <div style="clear: both; width: 100%;">
        <div style="float: left; width: 42%;">
            <img src="/images/ditu.jpg" style="width: 100%; height: 100%;" />
        </div>
        <div style="float: left; width: 58%;">
            <div id="mmXlzx" style="padding: 10px; height: auto;">
                人井编号：<input type="text" class="easyui-text" name="txtGxbh" id="txtGxbh" />
                <a href="javascript:queryList()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
                <a href="javascript:addGxrjxx.open() " class="easyui-linkbutton" data-options="iconCls:'icon-remove'">新增人井</a>
            </div>
            <table id="ttGxrjxx" class="easyui-datagrid" data-options="rownumbers:true,title:'人井管理',url:'@Url.Action("List", "Gxrjxx")/?gcxmid=@ViewData["gcxmid"]',fitColumns: true,iconCls:'icon-search',toolbar:'#mmXlzx', pagination:true,idField:'ID',pageList:pageList">
                <thead>
                    <tr>
                        <th data-options="field:'chk',checkbox:true"></th>
                        <th data-options="field:'RJBH',width:100,sortable:true">人井编号</th>
                        <th data-options="field:'GCRJBH',width:170,align:'center',sortable:true">工程人编号</th>
                        <th data-options="field:'RSJCC',width:100">人手井尺寸</th>
                        <th data-options="field:'JGLX',width:100">井盖类型</th>
                        <th data-options="field:'undefinedw',width:100,formatter:$func">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="window_Gxrjxx"></div>

<script type="text/javascript">

    //查询信息
    function queryList() {
        $('#ttGxrjxx').datagrid('load', {
            rxbh: $("#txtGxbh").val()
        });
    }
    var $func = function (v, d, r) {
        var html = '<input type="button" id="btnDelete" name = "btnDelete" onclick="javascript:delGxrjxx(\'' + d.ID + '\')" value="删除" />&nbsp;';
        html += '<input type="button" id="btnDetail" name = "btnDetail" onclick="javascript:lookDetail.open(\'' + d.ID + '\')" value="详情" />&nbsp;';
        html += '<input type="button" id="btnUpdate" name = "btnUpdate" onclick="javascript:udpateGxrj.open(\'' + d.ID + '\')" value="修改" />';
        return html;
    };

    var CloseGxrjxx = function () {
        $('#window_Gxrjxx').dialog('close');
    };
    
    var pageList = [20, 40, 60, 80, 100];
    
    var addGxrjxx = {
        url: '@Url.Action("Add", "Gxrjxx")/?gcxmid=@ViewData["gcxmid"]',
        open: function () {
            $('#window_Gxrjxx').dialog({
                title: '添加人井信息',
                height: 500,
                width: 900,
                modal: true,
                href: addGxrjxx.url,
                buttons: [
                    {
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $('#window_Gxrjxx form').form('submit', {
                                success: function (data) {
                                    var d = $.parseJSON(data);
                                    if (d.IsError) {
                                        $('#ttGxrjxx').datagrid('reload');
                                        alertError(d.Message);
                                    } else {
                                        alertInfo(d.Message);
                                        addGxrjxx.close();
                                        $('#ttGxrjxx').datagrid('reload');
                                    }
                                }
                            });
                        }
                    },
                    {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            addGxrjxx.close();
                        }
                    }
                ]
            });
        },
        close: function () {
            $('#ttGxrjxx').datagrid('reload');
            $('#window_Gxrjxx').dialog('close');
        }
    };

    var udpateGxrj = {
        url: '@Url.Action("Edit", "Gxrjxx")/?id=',
        open: function (id) {
            $('#window_Gxrjxx').dialog({
                title: '编辑人井信息',
                height: 500,
                width: 900,
                modal: true,
                href: udpateGxrj.url + id,
                buttons: [
                    {
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $('#window_Gxrjxx form').form('submit', {
                                success: function (data) {
                                    var d = $.parseJSON(data);
                                    if (d.IsError) {
                                        $('#ttGxrjxx').datagrid('reload');
                                        alertError(d.Message);
                                    } else {
                                        alertInfo(d.Message);
                                        $('#ttGxrjxx').datagrid('reload');
                                        udpateGxrj.close();
                                    }
                                }
                            });
                        }
                    },
                    {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            udpateGxrj.close();
                        }
                    }
                ]
            });
        },
        close: function () {
            $('#ttGxrjxx').datagrid('reload');
            $('#window_Gxrjxx').dialog('close');
        }
    };

    var lookDetail = {
        url: '@Url.Action("Edit", "Gxrjxx")/?id=',
        open: function(id) {
            $('#window_Gxrjxx').dialog({
                title: '查看人井信息',
                height: 500,
                width: 900,
                modal: true,
                href: udpateGxrj.url + id,
                buttons: [
                    {
                        text: '关闭窗口',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $('#window_Gxrjxx').dialog('close');
                        }
                    }
                ]
            });
        }
    };

    var delGxrjxx = function () {
        var selectRows = $('#ttGxrjxx').datagrid('getSelections');
        if (selectRows.length > 0) {
            var delKeys = [];
            for (var i = 0; i < selectRows.length; i++) {
                delKeys.push(selectRows[i].ID);
            }
            if (delKeys.length > 0) {
                $.messager.confirm('操作提示', '你确定要删除选中的数据？', function (r) {
                    if (r) {
                        $.ajaxRequest('@Url.Action("Delete", "Gxrjxx")', $.toJSON(delKeys), function (data) {
                            if (data.IsError) {
                                alertError(data.Message);
                            } else {
                                alertInfo(data.Message);
                            }
                            $('#ttGxrjxx').datagrid('reload');
                            $('#ttGxrjxx').datagrid('unselectAll');
                        });
                    }
                });
            }
        } else {
            alertWarning('请选择要删除的数据！');
        }
    };
</script>
